/* Buttons ink override */
table.button td,
table.tiny-button td,
table.small-button td,
table.medium-button td,
table.large-button td {
	background: #c00f94;
	border: 0px solid #2284a1;
}

table.button:hover td,
table.button:visited td,
table.button:active td {
  background: #c00f94 !important;
}

table.button:hover td,
table.tiny-button:hover td,
table.small-button:hover td,
table.medium-button:hover td,
table.large-button:hover td {
  background: #c00f94 !important;
}

/* header */
td.alkmaarpastekst {
	padding-top: 40px !important;
}

/* datum */
td.bovendatum{
	font-size: 1px;
	line-height: 1px;
	padding: 5px 1px !important;
}
td.datum{
	background: #f6d2eb;
	color: #c00f94;
	font-size: 17px;
	font-weight: bold;
	padding: 5px 20px !important;
}

/* platte tekst */
td.tekstkop{
	color: #c00f94;
	font-size: 20px;
	font-weight: bold;
}

/* sectieheaders */
td.sectieheader{
	background: #c00f94;
	color: #ffffff;
	font-size: 25px;
	font-weight: bold;
	padding: 10px 20px !important;
}

/* artikelen */
table.artikel img {
	margin-top: 7px;
}

/* footer */
td.footerimage {
	padding: 0 !important;
}
td.nopad {
	padding: 1px 0px 0px 0px !important;
}
td.footertekst {
	background: #f6d2eb;
	color: #323232;
	font-size: 13px;
	padding: 15px 20px 5px 20px !important;
	line-height: 20px;
}
td.footertekst td.tekstkop{
	color: #c00f94;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 0;
}
td.footertekst a {
	color: #323232;
}
td.footertekst span {
	color: #c00f94;
	font-weight: bold;
}
td.footertekst .social img {
	margin-left: 10px;
	margin-right: 10px;
}

/* facebook */
table.facebook td {
  background: #3b5998;
  border-color: #2d4473;
}
table.facebook:hover td {
  background: #2d4473 !important;
}
table.twitter td {
  background: #00acee;
  border-color: #0087bb;
}
table.twitter:hover td {
  background: #0087bb !important;
}
table.google-plus td {
  background-color: #DB4A39;
  border-color: #CC0000;
}
table.google-plus:hover td {
  background: #CC0000 !important;
}
.template-label {
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
}
.callout .panel {
  background: #ECF8FF;
  border-color: #b9e5ff;
}
.header {
	
}
.footer .wrapper {
	
}
.footer h5 {
  padding-bottom: 10px;
}
table.columns .text-pad {
  padding-left: 10px;
  padding-right: 10px;
}
table.columns .left-text-pad {
  padding-left: 10px;
}
table.columns .right-text-pad {
  padding-right: 10px;
}

@media only screen and (max-width: 600px) {

	table[class="body"] .right-text-pad {
    	padding-left: 10px !important;
	}
	table[class="body"] .left-text-pad {
    	padding-right: 0px !important;
	}
  
	/* header */
	.header .alkmaarpas img {
		width: 270px !important;
		height: auto !important;
	}
	.header .alkmaarpastekst img {
		width: 260px !important;
		height: auto !important;
	}
	td.alkmaarpastekst {
		padding-top: 10px !important;
	}
	
	/* artikel */
	table.artikel td.foto {
		display: none !important;
	}
	
	/* footer */
	td.footertekst .social img {
		width: 30px !important;
		height: auto !important;
	}
}
